.chart_container_bubble {
    width: 35%;
    display: inline-block;
}

.chart_container_line {
    width: 55%;
    margin-top: 5%;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .chart_container_bubble {
        width: 100%;
    }

    .chart_container_line {
        width: 100%;
        margin-top: 30px;
    }
}